<div class="setting">
    <div class="whitecover">
        <div class="card">
                <%= link_to image_tag("neji.png", class: "neji"), edit_user_path(current_user) %>
            <div class="cardinner" >
             <% if current_user.image.attached? %>
             <!--image画像を設定しているか否かで分岐、していない際はこちらから指定-->
                <%= image_tag (current_user.image), class: "top-image" %>
             <% else %>
                <%= image_tag 'Sherlock-Holmes.png', class: "top-image" %>
             <% end %>
            </div>
            <p><%= current_user.nickname %></p>
            <p>本日飲んだコーヒー: <%= @today %>杯</p>
            <p>カフェイン摂取量約<%= @today_caffeine %>mg</p>
            <p>CaffeineWithを始めてから飲んだコーヒー: <%= @cups %>杯</p>
        </div>    
            
            
         <div class="full">
            <div class="oneview">
                <%= render partial: "logs/log", collection: @logs %>
            </div>
         </div>
    </div>
</div>