<div class="devise-cover">
  <div class="devise-card">
    
    <h2>ログイン</h2>
    
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <% if alert %>
          <p class='alert'><%= alert %></p>
        <% end %>
        
      <div class="field">
        <%= f.label :メールアドレス, class: "field_text" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "minifield" %>
      </div>
    
      <div class="field">
        <%= f.label :パスワード, class: "field_text" %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "minifield" %>
      </div>
    
      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :ログイン情報を記録する, class: "field_text" %>
        </div>
      <% end %>
    
      <div>
        <%= f.submit "ログイン", class: "devise_btn" %>
      </div>
    <% end %>
    
    <%= render "devise/shared/links" %>
  </div>
</div>