<div class="cover">
    <div class="sheet">
        <%= form_for [@caffe, @log] do |f| %>
            <!--選んだ店により文字色と背景を変える-->
            <% if @suji <= 4  %>
                <p><span class="starbucks"><%= @caffe.store %></span>で<span class="starbucks"><%= @caffe.size %></span>サイズのコーヒーを飲むことを記録します!</p>
                
            <% elsif @suji >= 5 && @suji <= 7  %>
                <p><span class="doutor"><%= @caffe.store %></span>で<span class="doutor"><%= @caffe.size %></span>サイズのコーヒーを飲むことを記録します!</p>
                
            <% elsif @suji >= 8 && @suji <= 11  %>
                <p><span class="tullys"><%= @caffe.store %></span>で<span class="tullys"><%= @caffe.size %></span>サイズのコーヒーを飲むことを記録します!</p>
                
            <% elsif @suji >= 12 && @suji <= 14 %>
                <p><span class="excelsior"><%= @caffe.store %></span>で<span class="excelsior"><%= @caffe.size %></span>サイズのコーヒーを飲むことを記録します!</p>
                
            <% elsif @suji >= 15 && @suji <= 17 %>
                <p><span class="other"><%= @caffe.store %></span>で<span class="other"><%= @caffe.size %></span>サイズのコーヒーを飲むことを記録します!</p>
                
            <% else %>
                <p><span class="house"><%= @caffe.store %></span>で<span class="house"><%= @caffe.size %></span>サイズのコーヒーを飲むことを記録します!</p>
            <% end %>
            
            <%= f.text_area :text, placeholder: "コーヒーを飲んだ時の感想,思いついたことなど自由に書き込んでみましょう!", class: "text-area" %>
            <div class="newbtnwrapp">
                <%= f.submit "記録する", class: "newbtn" %>
            </div>
        <% end %>
    </div>
</div>