<!DOCTYPE html>
<html>
  <head>
    <title>CaffeineWith</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
    </header>
    
    <%= yield %>
    
    <footer>
    <p><a href="https://pixabay.com/ja/users/Madun_Digital-283126/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=393954">Madun Digital</a>による<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=393954">Pixabayからの画像</a></p>
    </footer>
  </body>
</html>
