<!DOCTYPE html>
<html lang ='ja'>
  <head>
    <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <title>CaffeineWith<%= yield :title %></title>
      <%= csrf_meta_tags %>
      <%= csp_meta_tag %>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
      <%= favicon_link_tag 'favicon.ico'%>
    </meta>
  </head>

  <body>
    <header class="header">
      <%= link_to "CaffeineWith", root_path, class: "homelogo" %>
      <div class="flash"><%= flash[:notice] %></div>
      
      <input type="checkbox" class="openSidebarMenu" name="check" id="openSidebarMenu">
      <label for="openSidebarMenu" class="sidebarIconToggle">
        <div class="spinner diagonal part-1"></div>
        <div class="spinner horizontal"></div>
        <div class="spinner diagonal part-2"></div>
      </label>
      
      <div id="sidebarMenu">
        <p>Menu</p>
        <div class="sidebarMenuInner">
          <%= link_to "Home", root_path, class: "innerlink" %>
          <%= link_to "Everyone's log", all_caffes_path, class: "innerlink" %>
          <% if user_signed_in? %>
            <%= link_to "My page", user_path(current_user), class: "innerlink" %>
            <%= link_to "Edit profile", edit_user_path(current_user), class: "innerlink" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "innerlink" %>
          <% else %>
            <%= link_to "Log in", new_user_session_path, class: "innerlink" %>
            <%= link_to "Sign up", new_user_registration_path, class: "innerlink" %>
            <%= link_to "Guest log in(企業様はこちら)", users_guest_sign_in_path, method: :post, class: "innerlink" %>
          <% end %>
            <%= link_to "Map of nearby cafes", maps_path, class: "innerlink" %>
        </div>
      </div>
    </header>
      
      <%= yield %>
    
    <footer>
    <p><a href="https://pixabay.com/ja/users/Madun_Digital-283126/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=393954" target="_blank" rel="noopener noreferrer">Madun Digital</a>さんによる<a href="https://pixabay.com/ja/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=393954" target="_blank" rel="noopener noreferrer">Pixabayからの画像</a></p>
    </footer>
    
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['API_KEY']%>&libraries=places&callback=initMap" async defer></script>
  </body>
</html>
